<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content" [ifAuthorize]="['Holiday.READ']">
        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <!-- END PAGE TITLE -->
        </div>
        <div class="hidden-xs">
            <ul class="page-breadcrumb breadcrumb">
                <li>
                    <span>{{ 'LINK_UP' | translate }}</span>
                    <i class="fa fa-circle"></i>
                </li>
                <li>
                    <span>{{ 'HOLIDAYS' | translate }}</span>
                    <i class="fa fa-circle"></i>
                </li>
            </ul>
        </div>
        <div class="row">
            <!-- START HOLIDAY CALENDER COMPONENT BY PRIMENG -->
            <div class="col-lg-6 col-xs-12 col-sm-12">
                <div class="portlet light bordered h2FontSize">
                    <p-schedule [events]="events" [editable]="false" (onEventClick)="handleEventClicked($event)"></p-schedule>

                    <p-dialog header="Holiday Details" [(visible)]="dialogVisible" [responsive]="true" showEffect="fade" [modal]="false">
                        <div class="ui-grid ui-grid-responsive ui-fluid">
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-4"><label for="title">Title</label></div>
                                <div class="ui-grid-col-8"><label id="title" >{{holidayTitle}}</label></div>
                            </div>
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-4"><label for="date">Date</label></div>
                                <div class="ui-grid-col-8"><label id="title" >{{holidayDate}}</label></div>
                            </div>
                        </div>
                    </p-dialog>
                </div>
            </div>
            <!-- END HOLIDAY CALENDER COMPONENT BY PRIMENG -->

            <!-- START HOLIDAY LIST COMPONENT BY PRIMENG -->
            <div class="col-lg-6 col-xs-12 col-sm-12">
                <div class="portlet light bordered">
                    <p-dataTable [value]="holidays" [paginator]="true" [rows]=(servRows) [responsive]="true" >
                        <p-column field="title" header="{{ 'TITLE' | translate }}" [sortable]="true"></p-column>
                        <p-column field="date" header="{{ 'DATE' | translate }}" [sortable]="true"></p-column>
                        <p-column field="day" header="{{ 'DAY' | translate }}" [sortable]="true"></p-column>
                        <p-column field="type" header="{{ 'TYPE' | translate }}" [sortable]="true" >
                            <template let-holiday="rowData" pTemplate type="body" >
                                <span> <a (click)="clicked(holiday)" >{{holiday.type}}</a></span> 
                            </template>
                        </p-column>
                    </p-dataTable>
                    <p-dialog header="Holiday Details" [(visible)]="holidayDetails" [modal]="true" showEffect="fade">
                        <div class="ui-grid ui-grid-responsive ui-fluid">
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-4"><label for="titleHoliday">Title</label></div>
                                    <div class="ui-grid-col-8"><label id="titleHoliday"  > {{holidayTitle}} </label></div>
                                </div>
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-4"><label for="dateHoliday">Date</label></div>
                                    <div class="ui-grid-col-8"><label id="dateHoliday" > {{holidayDate}} </label></div>
                                </div>
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-4"><label for="dayHoliday">Day</label></div>
                                    <div class="ui-grid-col-8"><label id="dayHoliday" > {{holidayDay}} </label></div>
                                </div>
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-4"><label for="typeHoliday">Type </label></div>
                                    <div class="ui-grid-col-8"><label id="typeHoliday" > {{holidayType}} </label></div>
                                </div>
                        </div>
                    </p-dialog>

                </div>
            </div>
            <!-- END HOLIDAY LIST COMPONENT BY PRIMENG -->
        </div>
    </div>
    <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->