<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
   <!-- BEGIN CONTENT BODY -->
   <div class="page-content">
      <h2>
          I love technology!
         <div class="smile"></div>
      </h2>
      <p>
        For reward, here is a list of awesome computer scientists:
      </p>
      <p>
        You want more? Add them yourself!
      </p>
      <p>
         <a class="link" (click)="readAbout()">About - RouterExtensions example</a>
      </p>
   </div>
   <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->