<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content" [ifAuthorize]="['BulkLeaveApproval.UPDATE','BulkLeaveApproval.READ']">
        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <!-- END PAGE TITLE -->
        </div>
        <div class="hidden-xs">
            <ul class="page-breadcrumb breadcrumb">
                <li>
                    <span>{{ 'LINK_UP' | translate }} </span>
                    <i class="fa fa-circle"></i>
                </li>
                <li>
                    <span> {{ 'BULK_APPROVAL' | translate }} </span>
                    <i class="fa fa-circle"></i>
                </li>
            </ul>
        </div>
        <div class="row">
            <!-- START BULK APPROVAL LIST COMPONENT BY PRIMENG -->
            <div class="col-lg-12 col-xs-12 col-sm-12">
                <div class="portlet light bordered">
                    <p-dataTable [value]="requests" [(selection)]="selectedEmployees" [paginator]="true" [responsive]="true" [rows]=(servRows)>
                        <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
                        <p-column field="eid" header="{{ 'EMPLOYEE_ID' | translate }} "></p-column>
                        <p-column field="employee" header="{{ 'EMPLOYEE' | translate }} "></p-column>
                        <p-column field="numberofleaves" header="{{ 'NO_LEAVES' | translate }} "></p-column>
                        <p-column field="status" header="{{ 'STATUS' | translate }} "></p-column>
                        <p-column field="start" header="{{ 'START_DATE' | translate }} "></p-column>
                        <p-column field="end" header="{{ 'END_DATE' | translate }} "></p-column>
                        <p-column field="approvers" header="{{ 'APPROVERS' | translate }} "></p-column>
                        <p-column field="pending" header="{{ 'PENDING_APPROVERS' | translate }} "></p-column>
                    </p-dataTable>
                    <form #form="ngForm" novalidate>
                        <div class="form-group">
                            <label class="control-label">{{ 'COMMENTS' | translate }}</label>
                            <textarea autoresize="autoResize" cols="30" rows="3" class="form-control" [(ngModel)]="model.comments" name="comments" pattern="...+" #comments="ngModel" required [class.validationClass]="comments.invalid && comments.touched"></textarea>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="pull-right">
                                    <h5 class="warning">
                                        <span>{{validationMessage}}</span>
                                    </h5>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="pull-right">
                                    <button [disabled]="form.invalid" (click)="approveClicked()" class="btn "> {{ 'APPROVE' | translate }} </button>
                                    <button [disabled]="form.invalid" (click)="rejectClicked()" class="btn "> {{ 'REJECT' | translate }} </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- END BULK APPROVAL LIST COMPONENT BY PRIMENG -->
        </div>
    </div>
    <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->