<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content" [ifAuthorize]="['Timesheet.UPDATE','Timesheet.READ']">
        <ul class="page-breadcrumb breadcrumb hidden-xs">
            <li>
                <span>{{ 'LINK_UP' | translate }}</span>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span class="active">{{ 'EMPLOYEE_TIMESHEET' | translate }}</span>
            </li>
        </ul>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="portlet light ">
                    <div class="portlet-body">
                        <p-dataTable [value]="timesheetReport" [responsive]="true" >
                            <p-column field="date" header="{{ 'DATE' | translate }}" [sortable]="true" [filter]="true"></p-column>
                            <p-column field="project" header="{{ 'PROJECT' | translate }}" [sortable]="true" [filter]="true"></p-column>
                            <p-column field="task" header="{{ 'TASK' | translate }}" [sortable]="true" [filter]="true"></p-column>
                            <p-column field="billableHours" header="{{ 'BILLABLE_HOURS' | translate }}" [sortable]="true" [filter]="true"></p-column>
                            <p-column field="nonBillableHours" header="{{ 'NON_BILLABLE_HOURS' | translate }}" [sortable]="true" [filter]="true"></p-column>
                            <p-column field="totalHours" header="{{ 'TOTAL_HOURS' | translate }}" [sortable]="true" [filter]="true"></p-column>
                            <p-column field="noteBillableHours" header="{{ 'NOTE_BILLABLE' | translate }}"></p-column>
                            <p-column field="noteNonBillableHours" header="{{ 'NOTE_NON_BILLABLE' | translate }}"></p-column>
                        </p-dataTable> 
                        <div class="row row-padding">
                            <div class="form-group">
                                <label class="col-md-2 control-label">{{ 'COMMENTS' | translate }}</label>
                                <div class="col-md-10">
                                    <textarea pInputTextarea rows="4" cols="40" autoResize="autoResize"></textarea>
                                </div>
                            </div>
                            <div class="row btn-align">
                                <button pButton type="button" label="{{ 'APPROVE' | translate }}"></button>
                                <button pButton type="button" label="{{ 'REJECT' | translate }}"></button>
                                <button pButton type="button" label="{{ 'CANCEL' | translate }}"></button>
                            </div>
                        </div>
                       
                    </div>                
                </div>
            </div>
        </div>
    </div>
</div>