.row-margin {
    margin-top: 15px;
}
.message-align {
    text-align: center;
}
.req-field {
    color: red
}
.col-margin {
    margin-top :10px;
}
.button-margin{
    margin-left: 0px;
}
.div-margin {
    margin-top: 5px;
}
.icon-color {
    color :#3D79A2;
}