<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <!-- END PAGE TITLE -->
        </div>
        <div class="hidden-xs">
            <ul class="page-breadcrumb breadcrumb">
                <li>
                    <span>LINK UP</span>
                    <i class="fa fa-circle"></i>
                </li>
                <li>
                    <span>Leave</span>
                    <i class="fa fa-circle"></i>
                </li>
                <li>
                    <span>My Leaves</span>
                </li>
            </ul>
        </div>
        <div class="row">
            <!-- START HOLIDAY PARTICULARS COMPONENT -->
            <div class="col-lg-3 col-xs-12 col-sm-12">
                <div class="portlet light bordered">
                    <div class="portlet-body">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Leave Type</th>
                                        <th>Taken</th>
                                        <th>Balance</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td> Leave </td>
                                        <td> {{ (leaveDetObs | async)?.NumberOfLeave }} </td>
                                        <td> - </td>
                                    </tr>
                                    <tr>
                                        <td> Half Day Leave </td>
                                        <td> {{ (leaveDetObs | async)?.HalfDayLeave }} </td>
                                        <td> - </td>
                                    </tr>
                                    <tr>
                                        <td> Absent </td>
                                        <td> {{ (leaveDetObs | async)?.Absent }} </td>
                                        <td> - </td>
                                    </tr>
                                    <tr>
                                        <td> Half Day Absent </td>
                                        <td> {{ (leaveDetObs | async)?.HalfDayAbsent }} </td>
                                        <td> - </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <a id="applyLeave" (click)="applyLeaveClicked()" class="btn green btn-outline">Apply Leave</a>
                    </div>

                </div>
            </div>
            <!-- END HOLIDAY PARTICULARS COMPONENT  -->

            <!-- START HOLIDAY LIST COMPONENT BY PRIMENG -->
            <div class="col-lg-9 col-xs-12 col-sm-12">
                <div class="portlet light bordered">
                    <p-dataTable [value]="leaveObs | async" [paginator]="true" [rows]=(servRows) [responsive]="true">
                        <p-column field="User.Name" header="Employee" [sortable]="true"></p-column>
                        <p-column field="StartDate" header="Start Date" [sortable]="true"></p-column>
                        <p-column field="EndDate" header="End Date" [sortable]="true"></p-column>
                        <p-column field="NumberOfLeave" header="No. of Leaves" [sortable]="true"></p-column>
                        <p-column field="Status" header="Status" [sortable]="true"></p-column>
                        <p-column styleClass="col-button" header="Edit" field="color">
                            <template let-leave="rowData" pTemplate type="body">
                                <button id="actionUpdate" type="button" pButton (click)="updateBtnClicked(leave.ID)" icon="fa fa-edit"></button>
                            </template>
                        </p-column>
                    </p-dataTable>
                </div>
            </div>
            <!-- END HOLIDAY LIST COMPONENT BY PRIMENG -->
        </div>
    </div>
    <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->