
<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
  <!-- BEGIN CONTENT BODY -->
  <div class="page-content">
    <div class="page-head">
      <!-- BEGIN PAGE TITLE -->
      <!-- END PAGE TITLE -->
    </div>
    <div class="hidden-xs">
      <ul class="page-breadcrumb breadcrumb ">
        <li>
          <span>LINK_UP</span>
          <i class="fa fa-circle"></i>
        </li>
        <li>
          <span> SYSTEM</span>
          <i class="fa fa-circle"></i>
        </li>
      </ul>
    </div>
    <div>
      <div class="col-md-12 page-500">
        <div class="col-md-2"></div>
        <div class="row">
          <div class="col-md-8 put-center">
            <img src="../assets/layouts/layout4/img/caution.svg"   alt="Unauthorized warning">
            <div >
              <h3 ><b>UNAUTHORIZED_HEADER</b></h3>
              <p>UNAUTHORIZED_MSG_1</p>
              <p>UNAUTHORIZED_MSG_2</p>
              <a routerLink="/" class="nav-link btn blue"><i class="icon-home"></i><span>  Return Home </span></a>
            </div>
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
  </div>
</div>