<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content" [ifAuthorize]="['LeaveApproval.READ']">
        <div class="hidden-xs">
            <ul class="page-breadcrumb breadcrumb">
                <li>
                    <span>{{ 'LINK_UP' | translate }} </span>
                    <i class="fa fa-circle"></i>
                </li>
                <li>
                    <span>{{ 'APPROVE_LEAVE' | translate }}</span>
                    <i class="fa fa-circle"></i>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="portlet light ">
                    <div class="portlet-body">
                        <p-dataTable [value]="approvalRecords" [paginator]="true" [rows]=(servRows) [responsive]="true">
                            <p-column field="employee" header="{{ 'EMPLOYEE' | translate }}" [sortable]="true"></p-column>
                            <p-column field="eid" header="{{ 'EMPLOYEE_ID' | translate }}" [sortable]="true"></p-column>
                            <p-column field="numberofleaves" header="{{ 'NO_LEAVES' | translate }}" [sortable]="true"></p-column>
                            <p-column field="status" header="{{ 'STATUS' | translate }}" [sortable]="true"></p-column>
                            <p-column field="start" header=" {{ 'START_DATE' | translate }}" [sortable]="true"></p-column>
                            <p-column field="end" header="{{ 'END_DATE' | translate }}" [sortable]="true"></p-column>
                            <p-column field="approvers" header="{{ 'APPROVERS' | translate }}" [sortable]="true"></p-column>
                            <p-column field="pending" header="{{ 'PENDING_APPROVERS' | translate }}" [sortable]="true"></p-column>
                            <p-column styleClass="col-button" header="{{ 'ACTION' | translate }}" field="color">
                                <template let-car="rowData" pTemplate type="body">
                                    <button type="button" pButton [routerLink]="['/single-approval']" icon="fa-edit"></button>
                                </template>
                            </p-column>
                        </p-dataTable>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>