<div class="portlet box yellow border-color">
    <div class="portlet-title div-color">
        <div class="caption title">
            {{ 'IDENTITY_PROOFS' | translate }}
        </div>
        <div class="actions">
            <span class="div-actions"> 
                <i class="fa fa-check-circle"></i> {{ 'REQUIRES_APPROVAL' | translate }}  
            </span>
        </div>
    </div>
    <div class="portlet-body">
        <div *ngIf="identityProofs.length == 0">
            <table class="table table-bordered no-record-table" cellspacing="0">
                <tbody>
                    <tr>
                        <td>{{ 'NO_RECORDS' | translate }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="identityProofs.length > 0">
            <p-dataTable [value]="identityProofs" [responsive]="true" emptyMessage="{{ 'NO_RECORDS' | translate }}">
                <p-column header="{{ 'EDIT' | translate }}"></p-column>
                <p-column header="{{ 'IDENTITY_TYPE' | translate }}" field="identityType"></p-column>
                <p-column header="{{ 'VALUE' | translate }}" field="value"></p-column>
                <p-column header="{{ 'DOCUMENT' | translate }}" field="document"></p-column>
                <p-column header="{{ 'STATUS' | translate }}" field="status"></p-column>
                <p-column header="{{ 'HR_COMMENT' | translate }}" field="hrComment"></p-column>
            </p-dataTable>
        </div>

        <div *ngIf="!showDiv">
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label><b>{{ 'IDENTITY_TYPE' | translate }}</b> <span class="req-field">*</span></label>
                        <div class="div-margin">
                            <div class="col-md-6">
                                <p-dropdown [options]="identityTypes" [(ngModel)]="selectedIdentityType" (onChange)="onIdentityTypeChange($event)" [style]="{'width':'100%'}"></p-dropdown>
                            </div>
                            <div class="col-md-6">
                                <button pButton type="text" label="{{ 'CANCEL' | translate }}" (click)="cancelIdentityType()"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="showSubDiv && selectedIdentityType">
                <div class="row row-margin">
                    <div class="col-md-6 col-margin">
                        <div class="form-group">
                            <span [ngSwitch]="selectedIdentityType.id">
                                <label *ngSwitchCase=1><b>{{ 'ADHAAR_CARD_NUMBER' | translate }}</b> <span class="req-field">*</span></label>
                            <label *ngSwitchCase=2><b>{{ 'PAN_CARD' | translate }}</b> <span class="req-field">*</span></label>
                            <label *ngSwitchCase=3><b>{{ 'VOTER_ID' | translate }}</b> <span class="req-field">*</span></label>
                            </span>
                            <div class="div-margin">
                                <input type="text" class="form-control" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-margin">
                        <div class="form-group">
                            <label><b>{{ 'SCANNED_COPY' | translate }}</b> <span class="req-field">*</span></label>
                            <div class="div-margin">
                                <input type="file">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-margin button-margin">
                    <button pButton type="text" label="{{ 'SUBMIT' | translate }}" (click)="submit()"></button>
                    <button pButton type="text" label="{{ 'CANCEL' | translate }}" (click)="cancel()"></button>
                </div>
            </div>
        </div>
        <div class="row row-margin button-margin" *ngIf="showDiv">
            <button pButton type="text" icon="fa fa-plus" (click)="addClick()" label="{{ 'ADD_NEW_ID_PROOFS' | translate }}"></button>
        </div>
    </div>
</div>