<form novalidate (ngSubmit)="onSubmit(achievementForm)" [formGroup]="achievementForm">
    <div class="portlet-body">
        <div *ngIf="(achievements | async)?.length == 0">
            <hr>
            <h5> No Records Found! </h5>
        </div>
        <div *ngIf="(achievements | async)?.length > 0">
            <p-dataTable [value]="achievements | async" [responsive]="true" emptyMessage="No Records Found!">
                <p-column header="Edit">
                    <template let-achievementData="rowData" pTemplate type="body">
                        <i class="fa fa-pencil icon-color" (click)="editAchievement(achievementData)"></i>
                    </template>
                </p-column>
                <p-column header="Achievement" field="Name"></p-column>
                <p-column header="Status" field="Status"></p-column>
                <p-column header="Comments" field="Comments"></p-column>
            </p-dataTable>
        </div>
        <div *ngIf="!showDiv">
            <div class="row row-margin">
                <div class="col-md-6 col-margin">
                    <span>Achievement</span>
                    <span class="req-field"> *</span>
                    <div class="div-margin">
                        <input type="text" id="achievement_description" class="form-control" placeholder="" formControlName="description">
                        <div class="alert alert-danger" *ngIf="achievementForm.get('description').hasError('required') && achievementForm.get('description').touched">
                            Please enter achievement
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-margin button-margin">
                <button pButton type="submit" label="Submit" [disabled]="achievementForm.invalid"></button>
                <button pButton type="text" label="Cancel" (click)="cancel()"></button>
            </div>
        </div>
        <div class="row row-margin button-margin" *ngIf="showDiv">
            <button pButton type="text" icon="fa fa-plus" (click)="onAddClick()" label="Add New Achievement"></button>
        </div>
    </div>
</form>