<div class="portlet box yellow border-color">
	<div class="portlet-title div-color">
		<div class="caption title">
			{{ 'VISA' | translate }}
		</div>
		<div class="actions">
			<span class="div-actions"> 
                <i class="fa fa-check-circle"></i> {{ 'REQUIRES_APPROVAL' | translate }}  
            </span>
		</div>
	</div>
	<div class="portlet-body">
		<div *ngIf="visa.length == 0">
			<hr>
			<h5> {{ 'NO_RECORDS' | translate }}</h5>
		</div>
		<div *ngIf="visa.length > 0">
			<p-dataTable [value]="visa" [responsive]="true" emptyMessage="{{ 'NO_RECORDS' | translate }}">
				<p-column header="{{ 'EDIT' | translate }}"></p-column>
				<p-column header="{{ 'VISA_NUMBER' | translate }}" field="visaNumber"></p-column>
				<p-column header="{{ 'VISA_EXPIRY_DATE' | translate }}" field="visaExpiryDate"></p-column>
				<p-column header="{{ 'VISA_TYPE' | translate }}" field="visaType"></p-column>
				<p-column header="{{ 'SCANNED_COPY' | translate }}" field="scanedCopy"></p-column>
			</p-dataTable>
		</div>
		<div *ngIf="!showDiv">
			<div class="row row-margin">
				<div class="col-md-3 col-margin">
					<span>{{ 'VISA_NUMBER' | translate }}</span>
					<span class="req-field"> *</span>
					<div class="div-margin">
						<input type="text" [(ngModel)]="visaNumber" class="form-control" placeholder="">
					</div>
				</div>
				<div class="col-md-3 col-margin">
					<span>{{ 'VISA_EXPIRY_DATE' | translate }}</span>
					<span class="req-field"> *</span>
					<div class="div-margin">
						<p-calendar  [(ngModel)]="visaExpiryDate" [showIcon]="true"></p-calendar>
					</div>
				</div>
				<div class="col-md-3 col-margin">
					<span>{{ 'VISA_TYPE' | translate }}</span>
					<span class="req-field"> *</span>
					<div class="div-margin">
						<input type="text" [(ngModel)]="visaType" class="form-control" placeholder="">
					</div>
				</div>
                <div class="col-md-3 col-margin">
					<span>{{ 'SCANNED_COPY' | translate }}</span>
					<span class="req-field"> *</span>
					<div class="div-margin">
						<input type="file">
					</div>
				</div>
			</div>
			<div class="row row-margin button-margin">
				<button pButton type="text" label="{{ 'SUBMIT' | translate }}" (click)="submit()"></button>
				<button pButton type="text" label="{{ 'CANCEL' | translate }}" (click)="cancel()"></button>
			</div>
		</div>
		<div class="row row-margin button-margin" *ngIf="showDiv">
			<button pButton type="text" icon="fa fa-plus" (click)="onAddClick()" label="{{ 'ADD_NEW_VISA' | translate }}"></button>
		</div>
	</div>
</div>