<form novalidate (ngSubmit)="onSubmit(skillSetForm)" [formGroup]="skillSetForm">
<div class="portlet-body">
	<div *ngIf="skillSet.length == 0">
		<hr>
		<h5> {{ 'NO_RECORDS' | translate }}</h5>
	</div>
	<div *ngIf="skillSet.length > 0">
		<p-dataTable [value]="skillSet" [responsive]="true" emptyMessage="{{ 'NO_RECORDS' | translate }}">
			<p-column header="{{ 'EDIT' | translate }}">
				<template let-skillSetData="rowData" pTemplate type="body">
					<i class="fa fa-pencil icon-color" (click)="editSkillSetData(skillSetData)"></i>
				</template>
			</p-column>
			<p-column header="{{ 'SKILL_TYPE' | translate }}" field="Type.Name"></p-column>
			<p-column header="{{ 'SKILLS' | translate }}" field="Description"></p-column>
			<p-column header="{{ 'STATUS' | translate }}" field="Status"></p-column>
			<p-column header="{{ 'COMMENTS' | translate }}" field="Comments"></p-column>
			<p-column header="{{ 'APPROVERS' | translate }}" field="Approvers"></p-column>
		</p-dataTable>
	</div>
	<div *ngIf="!showDiv">
		<div class="row row-margin">
			<div class="col-md-2 col-margin">
				<span>{{ 'SKILL_TYPE' | translate }}</span>
				<span class="skill-set-req-field"> *</span>
				<div>
					<p-dropdown [options]="skillTypes" formControlName="skillType" [style]="{'width':'100%'}"></p-dropdown>
					<div class="alert alert-danger" *ngIf="skillSetForm.get('skillType').hasError('required') && skillSetForm.get('skillType').touched">
						{{ 'SKILLTYPE_REQUIRED' | translate }}
					</div>
				</div>
			</div>
			<div class="col-md-2 col-margin">
				<span>{{ 'SKILLS' | translate }}</span>
				<span class="skill-set-req-field"> *</span>
				<div class="form-group">
					<input type="text" formControlName="skills" class="form-control" placeholder="">
					<div class="alert alert-danger" *ngIf="skillSetForm.get('skills').hasError('required') && skillSetForm.get('skills').touched">
						{{ 'SKILL_REQUIRED' | translate }}
					</div>
				</div>
			</div>
		</div>
		<div class="row row-margin button-margin">
			<button pButton type="submit" label="{{ 'SUBMIT' | translate }}" [disabled]="skillSetForm.invalid"></button>
			<button pButton type="text" label="{{ 'CANCEL' | translate }}" (click)="cancel()"></button>
		</div>
	</div>
	<div class="row row-margin button-margin" *ngIf="showDiv">
		<button pButton type="text" icon="fa fa-plus" (click)="onAddClick()" label="{{ 'ADD_NEW_SKILLSET' | translate }}"></button>
	</div>
</div>