.row-margin {
    margin-top: 15px;
}

.message-align {
    text-align: center;
}

.skill-set-req-field{
    color: red
}

.col-margin {
    margin-top :10px;
}

.button-margin{
    margin-left: 0px;
}
.icon-color {
    color :#3D79A2;
}