<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content" [ifAuthorize]="['Leave.READ']">
        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <!-- END PAGE TITLE -->
        </div>
        <div class="hidden-xs">
            <ul class="page-breadcrumb breadcrumb">
                <li>
                    <span>{{ 'LINK_UP' | translate }}</span>
                    <i class="fa fa-circle"></i>
                </li>
                <li>
                    <span>{{ 'LEAVE' | translate }}</span>
                    <i class="fa fa-circle"></i>
                </li>
                <li>
                    <span> {{ 'MY_LEAVES' | translate }}</span>
                </li>
            </ul>
        </div>
        <div class="row">
            <!-- START HOLIDAY PARTICULARS COMPONENT -->
            <div class="col-lg-3 col-xs-12 col-sm-12">
                <div class="portlet light bordered">
                    <div class="portlet-body">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th> {{ 'LEAVE_TYPE' | translate }} </th>
                                        <th> {{ 'TAKEN' | translate }} </th>
                                        <th> {{ 'BALANCE' | translate }} </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td> Leave </td>
                                        <td> 3 </td>
                                        <td> 2 </td>
                                    </tr>
                                    <tr>
                                        <td> Half Day Leave </td>
                                        <td> 0 </td>
                                        <td> - </td>
                                    </tr>
                                    <tr>
                                        <td> Absent </td>
                                        <td> 2 </td>
                                        <td> - </td>
                                    </tr>
                                    <tr>
                                        <td> Half Day Absent </td>
                                        <td> 0 </td>
                                        <td> - </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <a routerLink="/apply-leave" routerLinkActive="active" class="btn green btn-outline"> {{ 'APPLY_LEAVE' | translate }} </a>
                    </div>

                </div>
            </div>
            <!-- END HOLIDAY PARTICULARS COMPONENT  -->

            <!-- START HOLIDAY LIST COMPONENT BY PRIMENG -->
            <div class="col-lg-9 col-xs-12 col-sm-12">
                <div class="portlet light bordered">
                    <p-dataTable [value]="leaves" [paginator]="true" [rows]=(servRows) [responsive]="true">
                        <p-column field="empName" header="{{ 'EMPLOYEE' | translate }}" [sortable]="true"></p-column>
                        <p-column field="start" header="{{ 'START_DATE' | translate }}" [sortable]="true"></p-column>
                        <p-column field="end" header="{{ 'END_DATE' | translate }}" [sortable]="true"></p-column>
                        <p-column field="numDays" header="{{ 'NO_LEAVES' | translate }}" [sortable]="true"></p-column>
                        <p-column field="status" header="{{ 'STATUS' | translate }} " [sortable]="true"></p-column>
                        <p-column styleClass="col-button" header="{{ 'ACTION' | translate }}" field="color">
                            <template let-car="rowData" pTemplate type="body">
                                <button type="button" pButton [routerLink]="['/update-leave']" icon="fa-edit"></button>
                            </template>
                        </p-column>
                    </p-dataTable>
                </div>
            </div>
            <!-- END HOLIDAY LIST COMPONENT BY PRIMENG -->
        </div>
    </div>
    <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->