<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content" [ifAuthorize]="['Timesheet.UPDATE','Timesheet.CREATE']">
    <ul class="page-breadcrumb breadcrumb hidden-xs">
        <li>
            <span >LINK UP</span>           
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>Employee Timesheet</span>
             <i class="fa fa-circle"></i>
        </li>
        <li>
            <span class="active">New Items</span>          
        </li>
    </ul>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="portlet light ">
                <div class="portlet-body">
                     <h4>This is Enter Timesheet Component.</h4>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>