<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
  <!-- BEGIN CONTENT BODY -->
  <div class="page-content">
    <!-- BEGIN PAGE BREADCRUMB -->
    <ul class="page-breadcrumb breadcrumb hidden-xs">
      <li>
        <a href="index.html">{{"LINK_UP" | translate }}</a>
        <i class="fa fa-circle"></i>
      </li>
      <li>
        <span class="active">{{"CONFERENCE_BOOKING_TITLE" | translate }}</span>
         <i class="fa fa-circle"></i>
      </li>
      <li>
        <span class="active">{{"NEW_BOOKING" | translate }}</span>
      </li>
    </ul>
    <!-- END PAGE BREADCRUMB -->
    <!-- BEGIN PAGE BASE CONTENT -->
    <div class="portlet light bordered legends-portlet">
      <div class="portlet-body">
        <p-growl [value]="msgs"></p-growl>
        <form class="form-horizontal">
          <div class="form-group">
            <label class="control-label col-sm-2">{{'NEW_BOOKING_LABEL_TITLE' | translate}}</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" [(ngModel)]="conferenceModel.title" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="startTime">{{'NEW_BOOKING_LABEL_START_TIME' | translate}} *</label>
            <div class="col-sm-10">
              <p-calendar [(ngModel)]="conferenceModel.start" [showTime]="true"  name="startTime"></p-calendar>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="endTime">{{'NEW_BOOKING_LABEL_END_TIME' | translate}} *</label>
            <div class="col-sm-10">
              <p-calendar [(ngModel)]="conferenceModel.end" [showTime]="true" name="endTime"></p-calendar>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="attendees">{{'NEW_BOOKING_LABEL_ATTENDEES' | translate}}</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="attendees">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="room">{{'NEW_BOOKING_LABEL_CONFERENCE_ROOMS' | translate}} *</label>
            <div class="col-sm-10">
              <p-dropdown [options]="conferenceRooms" [(ngModel)]="selectedRoom" name="rooms" [styleClass]="form-control"></p-dropdown>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" >{{'NEW_BOOKING_LABEL_DOUBLE_BOOKING' | translate}}</label>
            <div class="col-sm-10">
              <button class="btn btn-default">{{'NEW_BOOKING_BTN_CHECK_DOUBLE_BOOKING' | translate}}</button>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="description">{{'NEW_BOOKING_LABEL_DESCRIPTION' | translate}}</label>
            <div class="col-sm-10">
              <textarea class="form-control" id="description"></textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="description">{{'NEW_BOOKING_LABEL_ALL_DAY_EVENT' | translate}}</label>
            <div class="col-sm-10">
              <p><input type="checkbox"> {{'NEW_BOOKING_LABEL_ALL_DAY_EVENT_TEXT' | translate}}</p>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="description"> {{'NEW_BOOKING_LABEL_RECURRENCE' | translate}}</label>
            <div class="col-sm-10">
              <p><input type="checkbox" [(ngModel)]="recurrance" name="recurrance"> {{'NEW_BOOKING_LABEL_RECURRENCE_TEXT' | translate}}</p>
            </div>
          </div>
          <div class="form-group" *ngIf="recurrance">
            <div class="col-sm-12">
              <label class="radio-inline">
      <input type="radio" [(ngModel)]="recurranceType" value="daily" name="optradio">{{'NEW_BOOKING_LABEL_DAILY' | translate}} 
    </label>
              <label class="radio-inline">
      <input type="radio" [(ngModel)]="recurranceType" value="weekly"  name="optradio">{{'NEW_BOOKING_LABEL_WEEKLY' | translate}}
    </label>
              <label class="radio-inline">
      <input type="radio" [(ngModel)]="recurranceType" value="monthly" name="optradio">{{'NEW_BOOKING_LABEL_MONTHLY' | translate}} 
    </label>
              <label class="radio-inline">
      <input type="radio" [(ngModel)]="recurranceType" value="yearly" name="optradio">{{'NEW_BOOKING_LABEL_YEARLY' | translate}}
    </label>
            </div>
          </div>
          <div class="form-group" [ngSwitch]="recurranceType" *ngIf="recurrance">
            <label class="control-label col-sm-2" for="recurranceType">{{'NEW_BOOKING_LABEL_PATTERN' | translate}}</label>
            <div class="col-sm-10" *ngSwitchCase="'daily'">
              <p><input type="checkbox"> {{'NEW_BOOKING_LABEL_DAILY' | translate}} </p>
            </div>
            <div class="col-sm-10" *ngSwitchCase="'weekly'">
              <p><input type="checkbox"> {{'NEW_BOOKING_LABEL_WEEKLY' | translate}}</p>
            </div>
            <div class="col-sm-10" *ngSwitchCase="'monthly'">
              <p>{{'NEW_BOOKING_LABEL_MONTHLY' | translate}} </p>
            </div>
            <div class="col-sm-10" *ngSwitchCase="'yearly'">
              <p> {{'NEW_BOOKING_LABEL_YEARLY' | translate}}</p>
            </div>
          </div>

          <label class="control-label col-sm-2 col-sm-2" *ngIf="recurrance" for="description">{{'NEW_BOOKING_LABEL_DATE_RANGE' | translate}}</label>
          <div class="form-group" *ngIf="recurrance">
            <label class="col-sm-12 col-xs-12" for="startTime">{{'NEW_BOOKING_LABEL_START_DATE' | translate}}<p-calendar [(ngModel)]="recurranceStartDate" name="recurranceStartDate"></p-calendar></label>
          </div>
          <div class="form-group" *ngIf="recurrance">
            <div class="col-sm-12">
              <label class="radio-inline">
               <input type="radio" [(ngModel)]="recurrancePattern" value="1" name="recurrancePattern">{{'NEW_BOOKING_LABEL_NO_END_DATE' | translate}}
            </label>
              <label class="radio-inline">
               <input type="radio" [(ngModel)]="recurrancePattern" value="2"  name="recurrancePattern">{{'NEW_BOOKING_LABEL_END_AFTER' | translate}} End after: 10 occurrence(s)
            </label>
              <label class="radio-inline">
               <input type="radio" [(ngModel)]="recurrancePattern" value="3" name="recurrancePattern">{{'NEW_BOOKING_LABEL_END_BY' | translate}}: <p-calendar [(ngModel)]="recurranceEndDate" name="recurranceEndDate"></p-calendar>
            </label>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="description">{{'NEW_BOOKING_LABEL_SPECIAL_TREATMENT' | translate}} </label>
            <div class="col-sm-10">
              <p><input type="checkbox"> Water</p>
              <p><input type="checkbox"> Tea </p>
              <p><input type="checkbox"> Coffee</p>
              <p><input type="checkbox"> Juice</p>
              <p><input type="checkbox"> Snacks</p>
              <p><input type="checkbox"> Breakfast</p>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="description">{{'NEW_BOOKING_LABEL_SPECIAL_COMMENTS' | translate}}</label>
            <div class="col-sm-10">
              <textarea class="form-control"></textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="description">{{'NEW_BOOKING_LABEL_NO_OF_GUEST' | translate}}</label>
            <div class="col-sm-10">
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="form-group">
              <label class="control-label col-sm-10"> {{'NEW_BOOKING_LABEL_ISDELETED' | translate}}  &nbsp;&nbsp;<input type="checkbox"></label>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="button"  (click)="save()" class="btn btn-default">{{'NEW_BOOKING_BTN_SAVE' | translate}}</button>
              <button class="btn btn-default" routerLink="/conferenceBooking">{{'NEW_BOOKING_BTN_CANCEL' | translate}}</button>
            </div>
          </div>
        </form>
      </div>
      <!-- END PAGE BASE CONTENT -->
    </div>
  </div>
  <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->