<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
	<!-- BEGIN CONTENT BODY -->
	<div class="page-content" [ifAuthorize]="['Timesheet.READ']">
		<ul class="page-breadcrumb breadcrumb hidden-xs">
			<li>
				<span>{{ 'LINK_UP' | translate }}</span>
				<i class="fa fa-circle"></i>
			</li>
			<li>
				<span class="active">{{ 'MANAGE_TICKET' | translate }}</span>
			</li>
		</ul>
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<div class="portlet light ">
					<div class="row">
						<div class="col-md-4 col-sm-4 col-xs-12">
							<div class="form-group">
								<label class="control-label">{{ 'DEPARTMENT' | translate }}</label>
								<div>
									<p-dropdown [options]="departments"></p-dropdown>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-12">
							<div class="form-group">
								<label class="control-label">{{ 'PRIORITY' | translate }}</label>
								<div>
									<p-dropdown [options]="priorities"></p-dropdown>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-12">
							<div class="form-group">
								<label class="control-label">{{ 'CONCERN' | translate }}</label>
								<div>
									<p-dropdown [options]="concerns"></p-dropdown>
								</div>
							</div>
						</div>

					</div>

					<div class="row">
						<div class="col-md-4 col-sm-4 col-xs-12">
							<div class="form-group">
								<label class="control-label"> {{ 'DESCRIPTION' | translate }} </label>
								<div>
									<textarea [(ngModel)]="description" class="fullWidth"></textarea>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-4 col-sm-4 col-xs-12">
							<div class="form-body">
								<label class="control-label"></label>
								<div>
									<button pButton type="button" label="{{ 'SAVE' | translate }}"></button>
									<button pButton type="button" label="{{ 'CANCEL' | translate }}"  (click)="cancel()" ></button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>