<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
  <!-- BEGIN CONTENT BODY -->
  <div class="page-content">
    <!-- BEGIN PAGE BREADCRUMB -->
    <ul class="page-breadcrumb breadcrumb hidden-xs">
      <li>
        <a href="index.html">{{"LINK_UP" | translate }}</a>
        <i class="fa fa-circle"></i>
      </li>
      <li>
        <span class="active">{{"CONFERENCE_BOOKING_TITLE" | translate }}</span>
      </li>
    </ul>
    <!-- END PAGE BREADCRUMB -->
    <!-- BEGIN PAGE BASE CONTENT -->
    <div class="portlet light bordered">
      <div class="portlet-body">
        <div class="row">
          <div class="col-sm-5">
            <button class="btn btn-default col-sm-6" routerLink="/myBookings">{{"CONFERENCE_BTN_MANAGE_BOOKING" | translate }}</button>
            <button class="btn btn-default col-sm-6" [class.selected-link]="selectedRoom=='AllRooms'" (click)="getEventByRooms('AllRooms')">{{"CONFERENCE_BTN_ALL_ROOMS" | translate }}</button>
          </div>
          <div class="col-sm-7">
            <ul class="legend">
              <li *ngFor="let item of conferenceRooms" class="col-xs-6 col-md-4 col-sm-4">
                <a (click)="getEventByRooms(item.name)" [class.selected-room]="item.name==selectedRoom"><span class="color-list" [style.backgroundColor]="item.color"></span> {{item.name}}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="portlet light bordered">
      <div class="portlet-body">
        <p-schedule [events]="events" [contentHeight]="700" [header]="headerConfig" (onDayClick)="handleDayClick($event)" [slotEventOverlap]="false"
          [defaultView]="'agendaDay'" [minTime]="minTime" [maxTime]="maxTime" (onEventClick)="handleEventClicked($event)" >
        </p-schedule>
      </div>

      <p-dialog header="Event Details" [(visible)]="dialogVisible" [responsive]="true" showEffect="fade" [modal]="false">
        <div class="ui-grid ui-grid-responsive ui-fluid">
          <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="title">{{"CONFERENCE_LABEL_TITLE" | translate }}</label></div>
            <div class="ui-grid-col-8"><label id="title">{{selectedEvent.title}}</label></div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="date">{{"CONFERENCE_LABEL_START" | translate }}</label></div>
            <div class="ui-grid-col-8"><label id="title">{{selectedEvent.start }}</label></div>
          </div>
           <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="date">{{"CONFERENCE_LABEL_END" | translate }}</label></div>
            <div class="ui-grid-col-8"><label id="title">{{selectedEvent.end}}</label></div>
          </div>
        </div>
      </p-dialog>
    </div>
    <!-- END PAGE BASE CONTENT -->
  </div>
  <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->