<form novalidate (ngSubmit)="onSubmit(addressForm)" [formGroup]="addressForm">
    <div class="portlet box yellow border-color">
        <div class="portlet-title div-color">
            <div class="caption title">
                Address
                <i class="fa fa-pencil icon-css" (click)="addClick()"></i>
            </div>
            <div class="actions">
                <span class="div-actions"> 
                <i class="fa fa-check-circle"></i> Requires Approval  
            </span>
            </div>
        </div>
        <div class="portlet-body">
            <div *ngIf="(addressList | async)?.length == 0">
                <table class="table table-bordered no-record-table" cellspacing="0">
                    <tbody>
                        <tr>
                            <td>No Records Found!</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div *ngIf="(addressList | async)?.length > 0">
                <p-dataTable [value]="addressList | async" [responsive]="true" emptyMessage="No Records Found!">
                    <p-column header="Type" field="Type"></p-column>
                    <p-column header="Address" field="Description"></p-column>
                    <p-column header="Document" field="FilePath"></p-column>
                    <p-column header="Status" field="Status"></p-column>
                    <p-column header="HR Comments" field="Comments"></p-column>
                </p-dataTable>
            </div>

            <div *ngIf="!showDiv">
                <hr>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label><b>Current Address</b> <span class="req-field">*</span></label>
                            <div class="div-margin">
                                <textarea class="form-control" id="address_currentAddress" rows="2" formControlName="currentAddress"></textarea>
                                <div class="alert alert-danger" *ngIf="addressForm.get('currentAddress').hasError('required') && addressForm.get('currentAddress').touched">
                                    Please Enter Current Address
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label><b>Current Address Proof </b><span class="req-field">*</span></label><br>
                            <div class="div-margin">
                                <input type="file" class="inputfile" id="address_currentDocument">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label><b>Permanent Address</b> <span class="req-field">*</span></label>
                            <div class="div-margin">
                                <textarea class="form-control" rows="2" id="address_permanentAddress" formControlName="permanentAddress"></textarea>
                                <div class="alert alert-danger" *ngIf="addressForm.get('permanentAddress').hasError('required') && addressForm.get('permanentAddress').touched">
                                    Please Enter Permanent Address
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label><b>Permanent Address Proof</b> <span class="req-field">*</span></label><br>
                            <div class="div-margin">
                                <input type="file" class="inputfile" id="address_permanentDocument">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-margin button-margin">
                    <button pButton type="submit" label="Submit" [disabled]="addressForm.invalid"></button>
                    <button pButton type="text" label="Cancel" (click)="cancel()"></button>
                </div>
            </div>
        </div>
    </div>
</form>