.selected{
    color:#666;
    font-weight: bold;
    color:#0072c6;
}
.portlet-link{
    color:#666;
}
.container {
  bottom: 0;
  position: fixed;
  margin: 1em;
  right: 0px;
}

.legend { 
    margin-top: -9px;
    margin-left: -30px;
    list-style: none; 
}
.legend li { 
    float: left;
    white-space: nowrap;
}
.legend span {
    border: 1px solid #ccc;   
    float: left;
    width: 22px;
    height: 15px;
    margin: 2px; 
}
.selected-link{
    background-color: #e6e6e6;
}
@media only screen and (max-width: 920px) {
    .legends-portlet {
        height:90px
    }
}
@media (max-width: 766px) {
    .legend {
        margin-top: 0px;
    }
}
