<div class="logo"></div>
<div class="login-block">
    <h1>Login</h1>
    <form  class="form-signin">
        <input id="userName" [(ngModel)]="model.UserName" type="text" class="form-control" name="Username" placeholder="Username"
            required autofocus />
        <input id="password" [(ngModel)]="model.Password" type="password" class="form-control" name="Password" placeholder="Password"
            required />
        <button id="loginBtn" (click)="doLogin()" class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" >Login</button>
    </form>
    
</div>